<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Vroom Rentals</h1>
    <img
      src="https://cdn.pixabay.com/photo/2014/04/03/10/27/car-310523__340.png"
      height="100"
      alt="Vroom Logo"
      loading="lazy"
    />
    <p>
  Welcome to our car rental company, where we make it easy and affordable for you to get behind the wheel of a reliable and comfortable vehicle. Our company is dedicated to providing excellent customer service and high-quality vehicles to meet all your transportation needs.

At our car rental company, we understand that life can be unpredictable and sometimes you need a vehicle for a short period of time. That's why we offer flexible rental options that allow you to rent a car for as little as a day or for as long as you need it. Whether you need a car for a business trip, family vacation, or any other reason, we've got you covered.

Our fleet of vehicles includes a wide range of cars, from compact to full-size, SUVs, vans, and even luxury vehicles. We carefully maintain all of our vehicles to ensure that they are in top condition and provide a safe and comfortable driving experience.

Our rental process is simple and straightforward. All you need is a valid driver's license, a credit card, and proof of insurance. We offer online booking, so you can reserve your vehicle ahead of time and pick it up at your convenience.

At our car rental company, we believe that great customer service is key to our success. That's why we have a team of friendly and knowledgeable staff who are always ready to help you with any questions or concerns you may have. We strive to make your rental experience as smooth and hassle-free as possible.

So whether you're looking for a car rental for a day, a week, or longer, we invite you to explore our fleet and take advantage of our affordable rates and excellent customer service. Contact us today to learn more and book your rental.
  </p>
<br />
<p>
  We also offer the option for car rental agencies to list their cars for rental on our platform.If you're a car rental agency interested in listing your cars on our platform, please contact us to learn more about our partnership opportunities.
  </p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Partner With Us</a>
    <a class="btn btn-dark btn-lg" href="/bookcars" role="button">Rent With Us</a>
    <footer>Made with ❤️ By <a href = "https://www.github.com/RockeTCodes">RockeTCodes</a></footer>
  </div>
</div>
